Imports

In [701]:
import pandas as pd
import os
import re

print('hi')

hi

Set directory to folder containing csv files and make an array of csv files

In [702]:
# os.chdir('./Downloads/export/EMLI_UPDATE_20230824/EMLI_UPDATE_20230824')
# os.chdir('../../../Downloads/export/EMLI_UPDATE_20230824/EMLI_UPDATE_20230824')

os.chdir('../EMLI_UPDATE_20230824/')

csv_files = [f for f in os.listdir() if f.endswith('.csv')]
# print(csv_files)
sorted(csv_files)

FileNotFoundError: [Errno 2] No such file or directory: '../EMLI_UPDATE_20230824/'

Set each csv file to a dataframe

In [703]:
dfs = []

for csv in csv_files:
    df = pd.read_csv(csv)
    dfs.append(df)
    
print(dfs[0].columns)
print(dfs[1].columns)
print(dfs[2].columns)
print(dfs[3].columns)

NameError: name 'csv_files' is not defined

Join dataframes

In [ ]:
# merged_df_1 = pd.merge(dfs[0], dfs[3], on=['TITLE_NMBR', 'PRMNNT_PRCL_ID'])
# merged_df_2 = pd.merge(dfs[1], dfs[2], on=['TITLE_NMBR', 'LTB_DISTRICT_CD'])
# final_df = pd.merge(merged_df_1, merged_df_2, on=['TITLE_NMBR', 'LTB_DISTRICT_CD'])
# print(final_df)

merged_df_1 = pd.merge(dfs[0], dfs[1], on=['TITLE_NMBR', 'LTB_DISTRICT_CD'])
merged_df_2 = pd.merge(dfs[2], dfs[3], on='TITLE_NMBR')
final_df = pd.merge(merged_df_1, merged_df_2, on='TITLE_NMBR')

final_df

IndexError: list index out of range

Remove unecessary columns

In [ ]:
final_df = final_df.drop(columns=['NATURE_OF_XFER1', 'NATURE_OF_XFER2', 'TTL_ENTRD_DT', 'TTL_CNCL_DT', 'DCMNT_ACPTNC_DT', 'MRKT_VALUE_AMNT', 'REGISTRATION_DATE', 'CANCELLATION_DATE', 'REGDES', 'TX_ATHRTY_NM', 'LGDS', 'AIRSPACE_IND', 'STRATA_PLAN_NMBR', 'NMRTR_NMBR', 'DNMNTR_NMBR', 'TNNCY_TYP_IND', 'OCCPTN_DESC', 'TTL_RMRK_TEXT'])
final_df = final_df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
# print(final_df)
final_df.columns

NameError: name 'final_df' is not defined

In [ ]:
little_df = final_df.query('`TITLE_NMBR` == "A13613" or  `TITLE_NMBR` == "AC206761" or `TITLE_NMBR` == "AD134401"')

In [ ]:
output_series = final_df.groupby('TITLE_NMBR')['PRMNNT_PRCL_ID_x'].apply(list).reset_index(name='PIDs')

NameError: name 'final_df' is not defined

In [ ]:
output_series

      TITLE_NMBR                  PIDs
0         A10055             [7753632]
1          A1030            [14174332]
2         A10826    [9029214, 9029214]
3         A11082  [14219425, 14219425]
4         A11113             [9317627]
...          ...                   ...
49988   BB141289             [8704724]
49989     BB1414             [7818602]
49990   BB141426    [4638875, 4638875]
49991   BB141430  [15161544, 15161544]
49992   BB141434  [27288587, 27288587]

[49993 rows x 2 columns]

In [ ]:
output_series['PIDs'] = output_series['PIDs'].tolist()
# type(output_series['PIDs'])

output_series['PIDs'] = output_series['PIDs'].apply(lambda x: str(sorted(list(set(x)))).replace("[", "").replace("]", "").replace(",", " | "))

# for pids in output_series['PIDs']:
#     index = (output_series['PIDs'].tolist()).index(pids)
#     pids = str(sorted(list(set(pids))))
#     pids = pids.replace("[", "").replace("]", "").replace(",", " | ")
#     output_series['PIDs'][index] = pids

output_series

      TITLE_NMBR      PIDs
0         A10055   7753632
1          A1030  14174332
2         A10826   9029214
3         A11082  14219425
4         A11113   9317627
...          ...       ...
49988   BB141289   8704724
49989     BB1414   7818602
49990   BB141426   4638875
49991   BB141430  15161544
49992   BB141434  27288587

[49993 rows x 2 columns]

In [ ]:
new_df = pd.merge(final_df, output_series, on='TITLE_NMBR')
new_df = new_df.drop(columns=['PRMNNT_PRCL_ID_x', 'PRMNNT_PRCL_ID_y', 'LTB_DISTRICT_CD_x', 'LTB_DISTRICT_CD_y','TTL_OWNRSHP_NMBR', 'PRCL_STTS_CD'])

new_df = new_df.loc[new_df.astype(str).drop_duplicates().index]

new_df.columns

Index(['TITLE_NMBR', 'CLIENT_GVN_NM', 'CLIENT_LST_NM_1', 'CLIENT_LST_NM_2',
       'INCRPRTN_NMBR', 'ADDRS_DESC_1', 'ADDRS_DESC_2', 'ADDRS_CITY',
       'ADDRS_PROV_CD', 'ADDRS_PROV_ST', 'ADDRS_CNTRY', 'ADDRS_PSTL_CD',
       'LTB_DISTRICT_CD', 'TTL_STTS_CD', 'FRM_TTL_NMBR', 'FRM_LT_DISTRICT_CD',
       'PIDs'],
      dtype='object')

In [ ]:
new_df.columns

Index(['TITLE_NMBR', 'CLIENT_GVN_NM', 'CLIENT_LST_NM_1', 'CLIENT_LST_NM_2',
       'INCRPRTN_NMBR', 'ADDRS_DESC_1', 'ADDRS_DESC_2', 'ADDRS_CITY',
       'ADDRS_PROV_CD', 'ADDRS_PROV_ST', 'ADDRS_CNTRY', 'ADDRS_PSTL_CD',
       'LTB_DISTRICT_CD', 'TTL_STTS_CD', 'FRM_TTL_NMBR', 'FRM_LT_DISTRICT_CD',
       'PIDs'],
      dtype='object')

In [ ]:
new_df.query('`TITLE_NMBR` == "A13613" or  `TITLE_NMBR` == "AC206761" or `TITLE_NMBR` == "AD134401"')

,TITLE_NMBR,CLIENT_GVN_NM,CLIENT_LST_NM_1,CLIENT_LST_NM_2,INCRPRTN_NMBR,ADDRS_DESC_1,ADDRS_DESC_2,ADDRS_CITY,ADDRS_PROV_CD,ADDRS_PROV_ST,ADDRS_CNTRY,ADDRS_PSTL_CD,LTB_DISTRICT_CD,TTL_STTS_CD,FRM_TTL_NMBR,FRM_LT_DISTRICT_CD,PIDs
14891,AC206761,KAZUTO,MIYAUCHI,NaN,,8333 AEGEAN CRESCENT,,VANCOUVER,BC,BC,CANADA,V5S 4H9,NW,R,M66550E,NW,19006608
20506,AD134401,CHRISTINE GLORIA,COLLINS,NaN,,24 - 8400 SHOOK ROAD,,MISSION,BC,BC,CANADA,V2V 5M2,NW,R,AD127369,NW,19006608 | 19006616
26813,A13613,NaN,HER MAJESTY THE QUEEN IN RIGHT OF CANADA,NaN,,C/O MINSTER OF INDIAN AFFAIRS AND NORTHERN DEV...,,OTTAWA,ON,,CANADA,,VI,R,84809W,VI,3955290 | 3955311 | 3955346

In [ ]:
import pandas as pd 
# Specify the columns you want to read by name
columns_to_read = ['Column1', 'Column3', 'Column5'] 

# # Read the CSV file while selecting only the specified columns
df = pd.read_csv('your_file.csv', usecols=columns_to_read)

KeyboardInterrupt:

In [ ]:
# input_directory = './Downloads/export/EMLI_UPDATE_20230824/EMLI_UPDATE_20230824'
input_directory = ''
title_df = pd.read_csv(input_directory)

FileNotFoundError: [Errno 2] No such file or directory: '../Downloads/'

In [ ]:
input_directory = '/Users/emendelson/Downloads/export/EMLI_UPDATE_20230824/EMLI_UPDATE_20230824/'

title_df = pd.read_csv(input_directory+'1_title.csv')
parcel_df = pd.read_csv(input_directory+'2_parcel.csv')
title_parcel_df = pd.read_csv(input_directory+'3_titleparcel.csv')
title_owner_df = pd.read_csv(input_directory+'4_titleowner.csv')

In [ ]:
title_df.head()

,TITLE_NMBR,LTB_DISTRICT_CD,TTL_STTS_CD,FRM_TTL_NMBR,FRM_LT_DISTRICT_CD,NATURE_OF_XFER1,NATURE_OF_XFER2,TTL_ENTRD_DT,TTL_CNCL_DT,DCMNT_ACPTNC_DT,MRKT_VALUE_AMNT
0,AA100060E,NW,R,RD68051E,NW,FEE,,1987-06-03,NaN,1987-06-02,"$200,000.00"
1,AA100103E,NW,R,424032E,NW,SD,,1987-06-02,NaN,1987-06-02,N/A
2,AA100103E,NW,R,548278E,NW,SD,,1987-06-02,NaN,1987-06-02,N/A
3,AA100145E,NW,R,H56630E,NW,FEE,,1987-07-25,NaN,1987-06-02,"$45,000.00"
4,AA100176E,NW,R,Z9922E,NW,FEE,,1987-06-22,NaN,1987-06-02,

In [ ]:
print(title_owner_df.columns)
len(title_owner_df)

Index(['TITLE_NMBR', 'LTB_DISTRICT_CD', 'TTL_OWNRSHP_NMBR', 'NMRTR_NMBR',
       'DNMNTR_NMBR', 'TNNCY_TYP_IND', 'CLIENT_GVN_NM', 'CLIENT_LST_NM_1',
       'CLIENT_LST_NM_2', 'OCCPTN_DESC', 'INCRPRTN_NMBR', 'ADDRS_DESC_1',
       'ADDRS_DESC_2', 'ADDRS_CITY', 'ADDRS_PROV_CD', 'ADDRS_PROV_ST',
       'ADDRS_CNTRY', 'ADDRS_PSTL_CD', 'TTL_RMRK_TEXT'],
      dtype='object')

75680

In [ ]:
print(title_df.columns)
len(title_df)

Index(['TITLE_NMBR', 'LTB_DISTRICT_CD', 'TTL_STTS_CD', 'FRM_TTL_NMBR',
       'FRM_LT_DISTRICT_CD', 'NATURE_OF_XFER1', 'NATURE_OF_XFER2',
       'TTL_ENTRD_DT', 'TTL_CNCL_DT', 'DCMNT_ACPTNC_DT', 'MRKT_VALUE_AMNT'],
      dtype='object')

52443

In [ ]:
print(title_parcel_df.columns)
len(title_parcel_df)

Index(['TITLE_NMBR', 'LTB_DISTRICT_CD', 'PRMNNT_PRCL_ID'], dtype='object')

50020

In [ ]:
print(parcel_df.columns)
len(parcel_df)

Index(['PRMNNT_PRCL_ID', 'PRCL_STTS_CD', 'REGISTRATION_DATE',
       'CANCELLATION_DATE', 'REGDES', 'TX_ATHRTY_NM', 'LGDS', 'AIRSPACE_IND',
       'STRATA_PLAN_NMBR', 'TITLE_NMBR'],
      dtype='object')

50044

In [ ]:
merged_df_1 = pd.merge(title_owner_df, title_df, on="TITLE_NMBR")
print(merged_df_1.columns)
len(merged_df_1)

Index(['TITLE_NMBR', 'LTB_DISTRICT_CD_x', 'TTL_OWNRSHP_NMBR', 'NMRTR_NMBR',
       'DNMNTR_NMBR', 'TNNCY_TYP_IND', 'CLIENT_GVN_NM', 'CLIENT_LST_NM_1',
       'CLIENT_LST_NM_2', 'OCCPTN_DESC', 'INCRPRTN_NMBR', 'ADDRS_DESC_1',
       'ADDRS_DESC_2', 'ADDRS_CITY', 'ADDRS_PROV_CD', 'ADDRS_PROV_ST',
       'ADDRS_CNTRY', 'ADDRS_PSTL_CD', 'TTL_RMRK_TEXT', 'LTB_DISTRICT_CD_y',
       'TTL_STTS_CD', 'FRM_TTL_NMBR', 'FRM_LT_DISTRICT_CD', 'NATURE_OF_XFER1',
       'NATURE_OF_XFER2', 'TTL_ENTRD_DT', 'TTL_CNCL_DT', 'DCMNT_ACPTNC_DT',
       'MRKT_VALUE_AMNT'],
      dtype='object')

78490

In [ ]:
merged_df_2 = pd.merge(title_owner_df, title_df, on=["TITLE_NMBR", "LTB_DISTRICT_CD"])
print(merged_df_2.columns)
len(merged_df_2)

Index(['TITLE_NMBR', 'LTB_DISTRICT_CD', 'TTL_OWNRSHP_NMBR', 'NMRTR_NMBR',
       'DNMNTR_NMBR', 'TNNCY_TYP_IND', 'CLIENT_GVN_NM', 'CLIENT_LST_NM_1',
       'CLIENT_LST_NM_2', 'OCCPTN_DESC', 'INCRPRTN_NMBR', 'ADDRS_DESC_1',
       'ADDRS_DESC_2', 'ADDRS_CITY', 'ADDRS_PROV_CD', 'ADDRS_PROV_ST',
       'ADDRS_CNTRY', 'ADDRS_PSTL_CD', 'TTL_RMRK_TEXT', 'TTL_STTS_CD',
       'FRM_TTL_NMBR', 'FRM_LT_DISTRICT_CD', 'NATURE_OF_XFER1',
       'NATURE_OF_XFER2', 'TTL_ENTRD_DT', 'TTL_CNCL_DT', 'DCMNT_ACPTNC_DT',
       'MRKT_VALUE_AMNT'],
      dtype='object')

78476

In [ ]:
parcel_df = parcel_df.drop(
    columns=[
        "TITLE_NMBR",
    ]
)

In [ ]:
merged_df_3 = pd.merge(title_parcel_df, parcel_df, on="PRMNNT_PRCL_ID")
print(merged_df_3.columns)
len(merged_df_3)

Index(['TITLE_NMBR', 'LTB_DISTRICT_CD', 'PRMNNT_PRCL_ID', 'PRCL_STTS_CD',
       'REGISTRATION_DATE', 'CANCELLATION_DATE', 'REGDES', 'TX_ATHRTY_NM',
       'LGDS', 'AIRSPACE_IND', 'STRATA_PLAN_NMBR'],
      dtype='object')

52400

In [ ]:
merged_df_4 = pd.merge(merged_df_2, merged_df_3, on=["TITLE_NMBR", "LTB_DISTRICT_CD"])
print(merged_df_4.columns)
len(merged_df_4)

Index(['TITLE_NMBR', 'LTB_DISTRICT_CD', 'TTL_OWNRSHP_NMBR', 'NMRTR_NMBR',
       'DNMNTR_NMBR', 'TNNCY_TYP_IND', 'CLIENT_GVN_NM', 'CLIENT_LST_NM_1',
       'CLIENT_LST_NM_2', 'OCCPTN_DESC', 'INCRPRTN_NMBR', 'ADDRS_DESC_1',
       'ADDRS_DESC_2', 'ADDRS_CITY', 'ADDRS_PROV_CD', 'ADDRS_PROV_ST',
       'ADDRS_CNTRY', 'ADDRS_PSTL_CD', 'TTL_RMRK_TEXT', 'TTL_STTS_CD',
       'FRM_TTL_NMBR', 'FRM_LT_DISTRICT_CD', 'NATURE_OF_XFER1',
       'NATURE_OF_XFER2', 'TTL_ENTRD_DT', 'TTL_CNCL_DT', 'DCMNT_ACPTNC_DT',
       'MRKT_VALUE_AMNT', 'PRMNNT_PRCL_ID', 'PRCL_STTS_CD',
       'REGISTRATION_DATE', 'CANCELLATION_DATE', 'REGDES', 'TX_ATHRTY_NM',
       'LGDS', 'AIRSPACE_IND', 'STRATA_PLAN_NMBR'],
      dtype='object')

82074

In [ ]:
merged_df_4 = merged_df_4.drop(
    columns=[
        "NATURE_OF_XFER1",
        "NATURE_OF_XFER2",
        "TTL_ENTRD_DT",
        "TTL_CNCL_DT",
        "DCMNT_ACPTNC_DT",
        "MRKT_VALUE_AMNT",
        "REGISTRATION_DATE",
        "CANCELLATION_DATE",
        "REGDES",
        "TX_ATHRTY_NM",
        "LGDS",
        "AIRSPACE_IND",
        "STRATA_PLAN_NMBR",
        "NMRTR_NMBR",
        "DNMNTR_NMBR",
        "TNNCY_TYP_IND",
        "OCCPTN_DESC",
        "TTL_RMRK_TEXT",
        "PRCL_STTS_CD",
        "TTL_OWNRSHP_NMBR",
        # "CLIENT_LST_NM_2"  About to be dropped
    ]
)

print(merged_df_4.columns)

Index(['TITLE_NMBR', 'LTB_DISTRICT_CD', 'TTL_OWNRSHP_NMBR', 'CLIENT_GVN_NM',
       'CLIENT_LST_NM_1', 'CLIENT_LST_NM_2', 'INCRPRTN_NMBR', 'ADDRS_DESC_1',
       'ADDRS_DESC_2', 'ADDRS_CITY', 'ADDRS_PROV_CD', 'ADDRS_PROV_ST',
       'ADDRS_CNTRY', 'ADDRS_PSTL_CD', 'TTL_STTS_CD', 'FRM_TTL_NMBR',
       'FRM_LT_DISTRICT_CD', 'PRMNNT_PRCL_ID', 'PRCL_STTS_CD'],
      dtype='object')

In [ ]:
merged_df_4.head(100)

,TITLE_NMBR,LTB_DISTRICT_CD,TTL_OWNRSHP_NMBR,CLIENT_GVN_NM,CLIENT_LST_NM_1,CLIENT_LST_NM_2,INCRPRTN_NMBR,ADDRS_DESC_1,ADDRS_DESC_2,ADDRS_CITY,ADDRS_PROV_CD,ADDRS_PROV_ST,ADDRS_CNTRY,ADDRS_PSTL_CD,TTL_STTS_CD,FRM_TTL_NMBR,FRM_LT_DISTRICT_CD,PRMNNT_PRCL_ID,PRCL_STTS_CD
0,AA100060E,NW,1,ANN MARY,LIVESLEY,NaN,,10560 BLUNDELL ROAD ...,...,RICHMOND,BC,,CANADA,V6Y 1L1,R,RD68051E,NW,3631095,A
1,AA100060E,NW,1,WILLIAM JOHN,LIVESLEY,NaN,,10560 BLUNDELL ROAD ...,...,RICHMOND,BC,,CANADA,V6Y 1L1,R,RD68051E,NW,3631095,A
2,AA100103E,NW,1,NaN,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,NaN,,514 CARNARVON STREET ...,...,NEW WESTMINSTER,BC,,CANADA,V3L 1C4,R,424032E,NW,8186430,A
3,AA100103E,NW,1,NaN,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,NaN,,514 CARNARVON STREET ...,...,NEW WESTMINSTER,BC,,CANADA,V3L 1C4,R,548278E,NW,8186430,A
4,AA100145E,NW,1,ROY HENRY,LUMPKIN,NaN,,9169 PREST ROAD ...,...,CHILLIWACK,BC,,CANADA,V2P 6H3,R,H56630E,NW,7791178,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AA106670E,NW,1,BRENDA CORRINNE RUBY,HENDERSON,NaN,,5205 CHAMBERLAYNE AVENUE ...,...,DELTA,BC,,CANADA,V4K 2J7,R,Y197002E,NW,2853264,A
96,AA106670E,NW,1,JOHN DOUGLAS,HENDERSON,NaN,,5205 CHAMBERLAYNE AVENUE ...,...,DELTA,BC,,CANADA,V4K 2J7,R,Y197002E,NW,2853264,A
97,AA106677E,NW,1,NaN,ALPI VENTURES LTD.,NaN,320587,3756 PANDORA STREET ...,...,BURNABY,BC,,CANADA,V5C 2A3,R,Z227984E,NW,5698758,A
98,AA106947E,NW,1,NaN,"DISTRICT OF MISSION,",NaN,,8645 STAVE LAKE STREET ...,...,MISSION,BC,,CANADA,V2V 4L9,R,Z70436E,NW,7765991,A
99,AA106975E,NW,1,SIMON,GOOD,NaN,,908 - 4134 MAYWOOD STREET ...,...,BURNABY,BC,,CANADA,V5H 4C9,R,Y73099E,NW,1882317,A

In [ ]:
print(str(merged_df_4["CLIENT_LST_NM_2"].unique()))

[nan
 'JR.                                                                        '
 '                                                                           '
 'MINISTRY OF FORESTS AND LANDS'
 '(MAPLE RIDGE - PITT MEADOWS)                                               '
 'REPRESENTED BY MINISTER OF TRANSPORTATION AND HIGHWAYS'
 'AKA, AHMED NIZAM                                                           '
 'JUNIOR                                                                     '
 '(BURNABY)                                                                  '
 'C/O MINISTRY OF ENVIRONMENT'
 'C/O MINISTRY OF ENVIRONMENT HARBOUR TOWERS' 'DISTRICT'
 'IN THE PROVINCE OF BRITISH COLUMBIA' 'REPRESENTED BY PARKS BRANCH'
 'AND DRAINAGE DISTRICT                                                      '
 'A STRATA CORPORATION UNDER THE STRATA PROPERTY ACT'
 'CARE OF THE MINISTER OF INDIAN AFFAIRS AND NORTHERN DEVELOPMENT'
 'C/O THE MINISTER OF INDIAN AFFAIRS AND NORTHERN DEVELOPMENT'
 'C/O MINISTER OF INDIAN AFFAIRS AND NORTHERN DEVELOPMENT' 'NORTH)' 'JR'
 'CHURCH' 'JR.' 'REPRESENTED BY THE MINISTRY OF AGRICULTURE AND LANDS'
 'AS REPRESENTED  BY THE MINISTER OF AGRICULTURE AND LANDS'
 'AS REPRESENTED BY THE MINISTRY OF AGRICULTURE AND LANDS'
 'REPRESENTED BY THE MINISTER OF ENVIRONMENT'
 'DISTRICT NO. 59 (PEACE RIVER SOUTH)' 'C/O THE MINISTRY OF ENVIRONMENT'
 'C/O MINISTER OF ENVIRONMENT' 'C/O VANCOUVER PORT AUTHORITY'
 '  C/O MINISTRY OF AGRICULTURE AND LANDS'
 'MINISTRY OF SUSTAINABLE RESOURCE MANAGEMENT'
 'AS REPRESENTED BY THE MINISTRY OF ENVIRONMENT'
 'AS REPRENSENTED BY THE MINISTRY OF ENVIRONMENT'
 'AS REPRESENTATED BY THE MINISTRY OF ENVIRONMENT'
 'AS REPRESENTATED BY THE MINISTRY OF THE ENVIRONMENT'
 'C/O  MINISTRY OF ENVIRONMENT'
 'AS REPRSENTED BY THE MINSTRY OF ENVIRONMENT'
 'C/0 MINISTRY OF ENVIRONMRNT' 'C/0 MINISTRY OF ENVIRONMENT'
 'AS REPRESENTED BY THE MINISTRY OF ENVIRONMEMT'
 'AS REPRENSENTED BY MINISTRY OF THE ENVIRONMENT'
 'AS REPRESENTED BY THE MINISTER OF TRANSPORT' 'THE MINISTER OF TRANSPORT'
 'THE ROYAL CANADIAN LEGION'
 'REPRESENTED BY THE MINISTER OF ENVIRONMENT, LANDS AND PARKS'
 'REPRESENTED BY THE MINISTRY OF SUSTAINABLE RESOURCE MANAGEMENT'
 'MINISTER OF INDIAN AFFAIRS AND NORTHERN DEVELOPMENT' 'WORKER'
 '(PEACE RIVER NORTH)' 'BRITISH COLUMBIA' '(BRITISH COLUMBIA CONFERENCE)'
 'REPRESENTED BY THE MINISTER OF TRANSPORT'
 'C/O MINISTRY OF SMALL BUSINESS AND REVENUE'
 'AS REPRESENTED BY THE MINISTER OF AGRICULTURE AND LANDS'
 'MINISTER OF ENVIRONMENT, LANDS AND PARKS'
 'AS REPRESENTED BY THE MINISTER OF FISHERIES AND OCEANS'
 'SAFETY AND EMERGENCY PREPAREDNESS' 'LANGLEY, BRITISH COLUMBIA'
 'VANCOUVER 1955)'
 'REPRESENTED BY THE MINISTER RESPONSIBLE FOR THE LAND ACT' 'COLUMBIA'
 'AND FRASER VALLEY ASSOCIATION' 'OF THE UNITED CHURCH OF CANADA'
 'AS REPRESENTED BY THE MINISTRY OF ENVIRONMENT LANDS AND PARKS'
 'CANADIAN LEGION' 'VANCOUVER, BRITISH COLUMBIA' ']']

In [ ]:
merged_df_4.isna().sum()

TITLE_NMBR                0
LTB_DISTRICT_CD           0
TTL_OWNRSHP_NMBR          0
CLIENT_GVN_NM         15039
CLIENT_LST_NM_1           1
CLIENT_LST_NM_2       81867
INCRPRTN_NMBR             0
ADDRS_DESC_1              0
ADDRS_DESC_2              0
ADDRS_CITY                0
ADDRS_PROV_CD             0
ADDRS_PROV_ST             0
ADDRS_CNTRY               0
ADDRS_PSTL_CD             0
TTL_STTS_CD               0
FRM_TTL_NMBR              0
FRM_LT_DISTRICT_CD        0
PRMNNT_PRCL_ID            0
PRCL_STTS_CD              0
dtype: int64

In [ ]:
merged_df_4.isnull().sum()

TITLE_NMBR                0
LTB_DISTRICT_CD           0
TTL_OWNRSHP_NMBR          0
CLIENT_GVN_NM         15064
CLIENT_LST_NM_1           1
CLIENT_LST_NM_2       81890
INCRPRTN_NMBR         76660
ADDRS_DESC_1           2466
ADDRS_DESC_2          80880
ADDRS_CITY             5596
ADDRS_PROV_CD          4360
ADDRS_PROV_ST         28007
ADDRS_CNTRY            3310
ADDRS_PSTL_CD          9996
TTL_STTS_CD               0
FRM_TTL_NMBR              0
FRM_LT_DISTRICT_CD        0
PRMNNT_PRCL_ID            0
PRCL_STTS_CD              0
dtype: int64

In [ ]:
print(str(merged_df_4["INCRPRTN_NMBR"].unique()))

[None '320587' '327826' ... '775313' 'S-576' '702834']

In [ ]:
merged_df_4 = merged_df_4.map(lambda x: x.strip() if isinstance(x, str) else x)

In [ ]:
condition = merged_df_4["TITLE_NMBR"] == "AA10141E   "
print(merged_df_4[condition]["ADDRS_PROV_CD"])

Series([], Name: ADDRS_PROV_CD, dtype: object)

In [ ]:
merged_df_4.replace("", None, inplace = True)

In [ ]:
merged_df_1 = pd.merge(title_owner_df, title_df, on="TITLE_NMBR")
merged_df_2 = pd.merge(title_parcel_df, parcel_df, on="TITLE_NMBR")
active_pin_df = pd.merge(merged_df_1, merged_df_2, on="TITLE_NMBR")

In [ ]:
active_pin_df

,TITLE_NMBR,LTB_DISTRICT_CD,TTL_STTS_CD,FRM_TTL_NMBR,FRM_LT_DISTRICT_CD,NATURE_OF_XFER1,NATURE_OF_XFER2,TTL_ENTRD_DT,TTL_CNCL_DT,DCMNT_ACPTNC_DT,...,OCCPTN_DESC,INCRPRTN_NMBR,ADDRS_DESC_1,ADDRS_DESC_2,ADDRS_CITY,ADDRS_PROV_CD,ADDRS_PROV_ST,ADDRS_CNTRY,ADDRS_PSTL_CD,TTL_RMRK_TEXT
0,AA100060E,NW,R,RD68051E,NW,FEE,,1987-06-03,NaN,1987-06-02,...,HOMEMAKER ...,,10560 BLUNDELL ROAD ...,...,RICHMOND,BC,,CANADA,V6Y 1L1,NaN
1,AA100060E,NW,R,RD68051E,NW,FEE,,1987-06-03,NaN,1987-06-02,...,PHYSICIAN ...,,10560 BLUNDELL ROAD ...,...,RICHMOND,BC,,CANADA,V6Y 1L1,NaN
2,AA100103E,NW,R,424032E,NW,SD,,1987-06-02,NaN,1987-06-02,...,...,,514 CARNARVON STREET ...,...,NEW WESTMINSTER,BC,,CANADA,V3L 1C4,NaN
3,AA100103E,NW,R,548278E,NW,SD,,1987-06-02,NaN,1987-06-02,...,...,,514 CARNARVON STREET ...,...,NEW WESTMINSTER,BC,,CANADA,V3L 1C4,NaN
4,AA100145E,NW,R,H56630E,NW,FEE,,1987-07-25,NaN,1987-06-02,...,CEMENT MASON ...,,9169 PREST ROAD ...,...,CHILLIWACK,BC,,CANADA,V2P 6H3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78709,BB141426,NW,R,BF455634,NW,CA,,2007-12-10,NaN,2007-12-03,...,PEACE OFFICER,,4718 LONDON CRESCENT ...,...,DELTA,BC,BRITISH COLUMBIA,CANADA,V4K 4W8,NaN
78710,BB141430,VA,R,BV171087,VA,FEE,,2007-12-07,NaN,2007-12-03,...,VALUATION CONSULTANT,,1825 EAST 6TH AVENUE ...,...,VANCOUVER,BC,BRITISH COLUMBIA,CANADA,V5N 1P4,NaN
78711,BB141430,VA,R,BV171087,VA,FEE,,2007-12-07,NaN,2007-12-03,...,SALES REPRESENTATIVE,,1825 EAST 6TH AVENUE ...,...,VANCOUVER,BC,BRITISH COLUMBIA,CANADA,V5N 1P4,NaN
78712,BB141434,NW,R,BB568597,NW,249,FEE,2007-12-07,NaN,2007-12-03,...,I.T. PROFESSIONAL,,3080 EAST 21ST AVENUE ...,...,VANCOUVER,BC,BRITISH COLUMBIA,CANADA,V5M 2W7,NaN
78713,BB141434,NW,R,BB568597,NW,249,FEE,2007-12-07,NaN,2007-12-03,...,CUSTOMER SERVICE MANAGER,,2106 WEST 36TH AVENUE ...,...,VANCOUVER,BC,BRITISH COLUMBIA,CANADA,V6M 1L2,NaN

In [133]:
import pandas as pd
import datetime
import numpy as np

In [134]:
input_directory = '/Users/emendelson/Downloads/export/EMLI_UPDATE_20230824/EMLI_UPDATE_20230824/'
title_df = pd.read_csv(
    input_directory + "1_title.csv",
    usecols=[
        "TITLE_NMBR",
        "LTB_DISTRICT_CD",
        "TTL_STTS_CD",
        "FRM_TTL_NMBR",
        "FRM_LT_DISTRICT_CD",
    ],
    dtype={
        "TITLE_NMBR": str,
        "LTB_DISTRICT_CD": str, 
        "TTL_STTS_CD": str,
        "FRM_TTL_NMBR": str,
        "FRM_LT_DISTRICT_CD": str,
    }
).map(lambda x: x.strip() if isinstance(x, str) else x).replace("", None).replace(np.nan, None)

title_df

      TITLE_NMBR LTB_DISTRICT_CD TTL_STTS_CD FRM_TTL_NMBR FRM_LT_DISTRICT_CD
0      AA100060E              NW           R     RD68051E                 NW
1      AA100103E              NW           R      424032E                 NW
2      AA100103E              NW           R      548278E                 NW
3      AA100145E              NW           R      H56630E                 NW
4      AA100176E              NW           R       Z9922E                 NW
...          ...             ...         ...          ...                ...
52438   BB141289              VA           R     BP154368                 VA
52439     BB1414              PG           R      PN31937                 PG
52440   BB141426              NW           R     BF455634                 NW
52441   BB141430              VA           R     BV171087                 VA
52442   BB141434              NW           R     BB568597                 NW

[52443 rows x 5 columns]

In [135]:
parcel_df = pd.read_csv(
    input_directory + "2_parcel.csv", 
    usecols=["PRMNNT_PRCL_ID", "PRCL_STTS_CD"],
    # usecols= lambda x: x.lower() in ["prmnnt_prcl_id"],
    dtype={
       "PRMNNT_PRCL_ID": int
    }
).map(lambda x: x.strip() if isinstance(x, str) else x).replace("", None).replace(np.nan, None)
print(parcel_df)

       PRMNNT_PRCL_ID PRCL_STTS_CD
0               48445            A
1               64661            A
2               67482            A
3               74993            A
4               84867            A
...               ...          ...
50039        28760280            A
50040        29209501            A
50041        29209994            A
50042        29295254            A
50043        29334268            A

[50044 rows x 2 columns]

In [136]:
title_parcel_df = pd.read_csv(
    input_directory + "3_titleparcel.csv",
    usecols=["TITLE_NMBR", "LTB_DISTRICT_CD", "PRMNNT_PRCL_ID"],
    dtype={
       "TITLE_NMBR": str, 
       "LTB_DISTRICT_CD": str, 
       "PRMNNT_PRCL_ID": int
    }
).map(lambda x: x.strip() if isinstance(x, str) else x).replace("", None).replace(np.nan, None)
title_parcel_df

      TITLE_NMBR LTB_DISTRICT_CD  PRMNNT_PRCL_ID
0      AA100060E              NW         3631095
1      AA100103E              NW         8186430
2      AA100145E              NW         7791178
3      AA100176E              NW         3172953
4      AA100229E              NW         2757257
...          ...             ...             ...
50015   BB141289              VA         8704724
50016     BB1414              PG         7818602
50017   BB141426              NW         4638875
50018   BB141430              VA        15161544
50019   BB141434              NW        27288587

[50020 rows x 3 columns]

In [137]:
title_owner_df = pd.read_csv(
    input_directory + "4_titleowner.csv",
    usecols=[
        "TITLE_NMBR",
        "LTB_DISTRICT_CD",
        "CLIENT_GVN_NM",
        "CLIENT_LST_NM_1",
        "CLIENT_LST_NM_2",
        "OCCPTN_DESC",
        "INCRPRTN_NMBR",
        "ADDRS_DESC_1",
        "ADDRS_DESC_2",
        "ADDRS_CITY",
        "ADDRS_PROV_CD",
        "ADDRS_PROV_ST",
        "ADDRS_CNTRY",
        "ADDRS_PSTL_CD",
    ],
    dtype={
       "TITLE_NMBR": str,
        "LTB_DISTRICT_CD": str,
        "CLIENT_GVN_NM": str,
        "CLIENT_LST_NM_1": str,
        "CLIENT_LST_NM_1": str,
        "OCCPTN_DESC": str,
        "INCRPRTN_NMBR": str,
        "ADDRS_DESC_1": str,
        "ADDRS_DESC_2": str,
        "ADDRS_CITY": str,
        "ADDRS_PROV_CD": str,
        "ADDRS_PROV_ST": str,
        "ADDRS_CNTRY": str,
        "ADDRS_PSTL_CD": str,
    }
).map(lambda x: x.strip() if isinstance(x, str) else x).replace("", None).replace(np.nan, None)
title_owner_df

,TITLE_NMBR,LTB_DISTRICT_CD,CLIENT_GVN_NM,CLIENT_LST_NM_1,CLIENT_LST_NM_2,OCCPTN_DESC,INCRPRTN_NMBR,ADDRS_DESC_1,ADDRS_DESC_2,ADDRS_CITY,ADDRS_PROV_CD,ADDRS_PROV_ST,ADDRS_CNTRY,ADDRS_PSTL_CD
0,AA100060E,NW,ANN MARY,LIVESLEY,None,HOMEMAKER,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1
1,AA100060E,NW,WILLIAM JOHN,LIVESLEY,None,PHYSICIAN,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1
2,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,BC,None,CANADA,V3L 1C4
3,AA100145E,NW,ROY HENRY,LUMPKIN,None,CEMENT MASON,None,9169 PREST ROAD,None,CHILLIWACK,BC,None,CANADA,V2P 6H3
4,AA100176E,NW,BERNARD LEONARD,SLONOPAS,None,STATION ATTENDANT,None,11964 CARRIAGE PLACE,None,DELTA,BC,None,CANADA,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75675,BB141426,NW,WAVERLEY ERVIN,STEINWAND,None,PEACE OFFICER,None,4718 LONDON CRESCENT,None,DELTA,BC,BRITISH COLUMBIA,CANADA,V4K 4W8
75676,BB141430,VA,SAMANTHA CHARLOTTE,SAWYER,None,VALUATION CONSULTANT,None,1825 EAST 6TH AVENUE,None,VANCOUVER,BC,BRITISH COLUMBIA,CANADA,V5N 1P4
75677,BB141430,VA,TORBIN PAUL ARENDOLF,HOLST,None,SALES REPRESENTATIVE,None,1825 EAST 6TH AVENUE,None,VANCOUVER,BC,BRITISH COLUMBIA,CANADA,V5N 1P4
75678,BB141434,NW,DAVID HOAK YEW,CHO,None,I.T. PROFESSIONAL,None,3080 EAST 21ST AVENUE,None,VANCOUVER,BC,BRITISH COLUMBIA,CANADA,V5M 2W7
75679,BB141434,NW,SONNY HOOK SON,CHO,None,CUSTOMER SERVICE MANAGER,None,2106 WEST 36TH AVENUE,None,VANCOUVER,BC,BRITISH COLUMBIA,CANADA,V6M 1L2

In [138]:
title_titleowner_df = pd.merge(
    title_owner_df, title_df, on=["TITLE_NMBR", "LTB_DISTRICT_CD"]
)
print(title_titleowner_df.count())
title_titleowner_df.head()

TITLE_NMBR            78476
LTB_DISTRICT_CD       78476
CLIENT_GVN_NM         63635
CLIENT_LST_NM_1       78475
CLIENT_LST_NM_2         179
OCCPTN_DESC           63511
INCRPRTN_NMBR          5236
ADDRS_DESC_1          76016
ADDRS_DESC_2           1177
ADDRS_CITY            72895
ADDRS_PROV_CD         74182
ADDRS_PROV_ST         50838
ADDRS_CNTRY           75182
ADDRS_PSTL_CD         68512
TTL_STTS_CD           78476
FRM_TTL_NMBR          78476
FRM_LT_DISTRICT_CD    78476
dtype: int64

,TITLE_NMBR,LTB_DISTRICT_CD,CLIENT_GVN_NM,CLIENT_LST_NM_1,CLIENT_LST_NM_2,OCCPTN_DESC,INCRPRTN_NMBR,ADDRS_DESC_1,ADDRS_DESC_2,ADDRS_CITY,ADDRS_PROV_CD,ADDRS_PROV_ST,ADDRS_CNTRY,ADDRS_PSTL_CD,TTL_STTS_CD,FRM_TTL_NMBR,FRM_LT_DISTRICT_CD
0,AA100060E,NW,ANN MARY,LIVESLEY,None,HOMEMAKER,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1,R,RD68051E,NW
1,AA100060E,NW,WILLIAM JOHN,LIVESLEY,None,PHYSICIAN,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1,R,RD68051E,NW
2,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,BC,None,CANADA,V3L 1C4,R,424032E,NW
3,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,BC,None,CANADA,V3L 1C4,R,548278E,NW
4,AA100145E,NW,ROY HENRY,LUMPKIN,None,CEMENT MASON,None,9169 PREST ROAD,None,CHILLIWACK,BC,None,CANADA,V2P 6H3,R,H56630E,NW

In [139]:
titleparcel_parcel_df = pd.merge(title_parcel_df, parcel_df, on="PRMNNT_PRCL_ID")
print(titleparcel_parcel_df.count())
titleparcel_parcel_df.head()

TITLE_NMBR         52400
LTB_DISTRICT_CD    52400
PRMNNT_PRCL_ID     52400
PRCL_STTS_CD       52400
dtype: int64

  TITLE_NMBR LTB_DISTRICT_CD  PRMNNT_PRCL_ID PRCL_STTS_CD
0  AA100060E              NW         3631095            A
1  AA100103E              NW         8186430            A
2  AA100145E              NW         7791178            A
3  AA100176E              NW         3172953            A
4  AA100229E              NW         2757257            A

In [140]:
active_pin_df = pd.merge(
    title_titleowner_df, titleparcel_parcel_df, on=["TITLE_NMBR", "LTB_DISTRICT_CD"]
)
print(active_pin_df.count())
active_pin_df.head()

TITLE_NMBR            82074
LTB_DISTRICT_CD       82074
CLIENT_GVN_NM         67010
CLIENT_LST_NM_1       82073
CLIENT_LST_NM_2         184
OCCPTN_DESC           66891
INCRPRTN_NMBR          5414
ADDRS_DESC_1          79608
ADDRS_DESC_2           1194
ADDRS_CITY            76478
ADDRS_PROV_CD         77714
ADDRS_PROV_ST         54067
ADDRS_CNTRY           78764
ADDRS_PSTL_CD         72078
TTL_STTS_CD           82074
FRM_TTL_NMBR          82074
FRM_LT_DISTRICT_CD    82074
PRMNNT_PRCL_ID        82074
PRCL_STTS_CD          82074
dtype: int64

,TITLE_NMBR,LTB_DISTRICT_CD,CLIENT_GVN_NM,CLIENT_LST_NM_1,CLIENT_LST_NM_2,OCCPTN_DESC,INCRPRTN_NMBR,ADDRS_DESC_1,ADDRS_DESC_2,ADDRS_CITY,ADDRS_PROV_CD,ADDRS_PROV_ST,ADDRS_CNTRY,ADDRS_PSTL_CD,TTL_STTS_CD,FRM_TTL_NMBR,FRM_LT_DISTRICT_CD,PRMNNT_PRCL_ID,PRCL_STTS_CD
0,AA100060E,NW,ANN MARY,LIVESLEY,None,HOMEMAKER,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1,R,RD68051E,NW,3631095,A
1,AA100060E,NW,WILLIAM JOHN,LIVESLEY,None,PHYSICIAN,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1,R,RD68051E,NW,3631095,A
2,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,BC,None,CANADA,V3L 1C4,R,424032E,NW,8186430,A
3,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,BC,None,CANADA,V3L 1C4,R,548278E,NW,8186430,A
4,AA100145E,NW,ROY HENRY,LUMPKIN,None,CEMENT MASON,None,9169 PREST ROAD,None,CHILLIWACK,BC,None,CANADA,V2P 6H3,R,H56630E,NW,7791178,A

In [141]:
active_pin_df = (
    active_pin_df.map(lambda x: x.strip() if isinstance(x, str) else x)
    .replace("", None)
    .replace(np.nan, None)
)
print(active_pin_df.count())
active_pin_df.head()

TITLE_NMBR            82074
LTB_DISTRICT_CD       82074
CLIENT_GVN_NM         67010
CLIENT_LST_NM_1       82073
CLIENT_LST_NM_2         184
OCCPTN_DESC           66891
INCRPRTN_NMBR          5414
ADDRS_DESC_1          79608
ADDRS_DESC_2           1194
ADDRS_CITY            76478
ADDRS_PROV_CD         77714
ADDRS_PROV_ST         54067
ADDRS_CNTRY           78764
ADDRS_PSTL_CD         72078
TTL_STTS_CD           82074
FRM_TTL_NMBR          82074
FRM_LT_DISTRICT_CD    82074
PRMNNT_PRCL_ID        82074
PRCL_STTS_CD          82074
dtype: int64

,TITLE_NMBR,LTB_DISTRICT_CD,CLIENT_GVN_NM,CLIENT_LST_NM_1,CLIENT_LST_NM_2,OCCPTN_DESC,INCRPRTN_NMBR,ADDRS_DESC_1,ADDRS_DESC_2,ADDRS_CITY,ADDRS_PROV_CD,ADDRS_PROV_ST,ADDRS_CNTRY,ADDRS_PSTL_CD,TTL_STTS_CD,FRM_TTL_NMBR,FRM_LT_DISTRICT_CD,PRMNNT_PRCL_ID,PRCL_STTS_CD
0,AA100060E,NW,ANN MARY,LIVESLEY,None,HOMEMAKER,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1,R,RD68051E,NW,3631095,A
1,AA100060E,NW,WILLIAM JOHN,LIVESLEY,None,PHYSICIAN,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1,R,RD68051E,NW,3631095,A
2,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,BC,None,CANADA,V3L 1C4,R,424032E,NW,8186430,A
3,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,BC,None,CANADA,V3L 1C4,R,548278E,NW,8186430,A
4,AA100145E,NW,ROY HENRY,LUMPKIN,None,CEMENT MASON,None,9169 PREST ROAD,None,CHILLIWACK,BC,None,CANADA,V2P 6H3,R,H56630E,NW,7791178,A

In [113]:
# Group by title number to get a list of pids associated with each title
titlenumber_pids_df = (
    # active_pin_df.drop()
    active_pin_df.groupby("TITLE_NMBR")["PRMNNT_PRCL_ID"]
    .apply(list)
    .reset_index(name="pids")
)
print(titlenumber_pids_df.count())
titlenumber_pids_df.head()

TITLE_NMBR    49993
pids          49993
dtype: int64

  TITLE_NMBR                  pids
0     A10055             [7753632]
1      A1030            [14174332]
2     A10826    [9029214, 9029214]
3     A11082  [14219425, 14219425]
4     A11113             [9317627]

In [114]:
active_parcel_df = active_pin_df.loc[active_pin_df['PRCL_STTS_CD'] != 'I']

titlenumber_pids_df = (
    # active_pin_df.drop()
    active_parcel_df.groupby("TITLE_NMBR")["PRMNNT_PRCL_ID"]
    .apply(list)
    .reset_index(name="pids")
)
print(titlenumber_pids_df.count())
titlenumber_pids_df.head()

TITLE_NMBR    49993
pids          49993
dtype: int64

  TITLE_NMBR                  pids
0     A10055             [7753632]
1      A1030            [14174332]
2     A10826    [9029214, 9029214]
3     A11082  [14219425, 14219425]
4     A11113             [9317627]

In [142]:
active_parcel_df = active_pin_df.loc[active_pin_df['PRCL_STTS_CD'] != 'I']

titlenumber_pids_df = (
    # active_pin_df.drop()
    active_parcel_df.groupby(["TITLE_NMBR", "LTB_DISTRICT_CD"])["PRMNNT_PRCL_ID"]
    .apply(list)
    .reset_index(name="pids")
)
print(titlenumber_pids_df.count())
titlenumber_pids_df.head()

TITLE_NMBR         49997
LTB_DISTRICT_CD    49997
pids               49997
dtype: int64

  TITLE_NMBR LTB_DISTRICT_CD                  pids
0     A10055              VA             [7753632]
1      A1030              VA            [14174332]
2     A10826              VA    [9029214, 9029214]
3     A11082              VA  [14219425, 14219425]
4     A11113              VA             [9317627]

In [143]:
def pid_parser(pids):
    pids = (
        str(sorted(list(set(pids))))
        .replace("[", "")
        .replace("]", "")
        .replace(",", " |")
    )
    return pids

# For each title number in grouped_df, put list of pids in proper sorted string format
titlenumber_pids_df["pids"] = titlenumber_pids_df["pids"].apply(pid_parser)

titlenumber_pids_df.head()

  TITLE_NMBR LTB_DISTRICT_CD      pids
0     A10055              VA   7753632
1      A1030              VA  14174332
2     A10826              VA   9029214
3     A11082              VA  14219425
4     A11113              VA   9317627

In [117]:
# Merge dataframes to add in PIDs column and drop duplicate rows
active_pin_df = pd.merge(active_pin_df, titlenumber_pids_df, on="TITLE_NMBR").drop(
    columns=["PRMNNT_PRCL_ID"]
)
active_pin_df = active_pin_df.loc[active_pin_df.astype(str).drop_duplicates().index]
print(active_pin_df.count())
active_pin_df.head()

TITLE_NMBR            78321
LTB_DISTRICT_CD_x     78321
CLIENT_GVN_NM         63498
CLIENT_LST_NM_1       78320
CLIENT_LST_NM_2         180
OCCPTN_DESC           63442
INCRPRTN_NMBR          5229
ADDRS_DESC_1          75867
ADDRS_DESC_2           1176
ADDRS_CITY            72758
ADDRS_PROV_CD         74047
ADDRS_PROV_ST         50696
ADDRS_CNTRY           75036
ADDRS_PSTL_CD         68374
TTL_STTS_CD           78321
FRM_TTL_NMBR          78321
FRM_LT_DISTRICT_CD    78321
PRCL_STTS_CD          78321
LTB_DISTRICT_CD_y     78321
pids                  78321
dtype: int64

,TITLE_NMBR,LTB_DISTRICT_CD_x,CLIENT_GVN_NM,CLIENT_LST_NM_1,CLIENT_LST_NM_2,OCCPTN_DESC,INCRPRTN_NMBR,ADDRS_DESC_1,ADDRS_DESC_2,ADDRS_CITY,ADDRS_PROV_CD,ADDRS_PROV_ST,ADDRS_CNTRY,ADDRS_PSTL_CD,TTL_STTS_CD,FRM_TTL_NMBR,FRM_LT_DISTRICT_CD,PRCL_STTS_CD,LTB_DISTRICT_CD_y,pids
0,AA100060E,NW,ANN MARY,LIVESLEY,None,HOMEMAKER,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1,R,RD68051E,NW,A,NW,3631095
1,AA100060E,NW,WILLIAM JOHN,LIVESLEY,None,PHYSICIAN,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1,R,RD68051E,NW,A,NW,3631095
2,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,BC,None,CANADA,V3L 1C4,R,424032E,NW,A,NW,8186430
3,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,BC,None,CANADA,V3L 1C4,R,548278E,NW,A,NW,8186430
4,AA100145E,NW,ROY HENRY,LUMPKIN,None,CEMENT MASON,None,9169 PREST ROAD,None,CHILLIWACK,BC,None,CANADA,V2P 6H3,R,H56630E,NW,A,NW,7791178

In [144]:
active_pin_df = pd.merge(active_pin_df, titlenumber_pids_df, on=["TITLE_NMBR", "LTB_DISTRICT_CD"]).drop(
    columns=["PRMNNT_PRCL_ID"]
)
active_pin_df = active_pin_df.loc[active_pin_df.astype(str).drop_duplicates().index]
print(active_pin_df.count())
active_pin_df.head()

TITLE_NMBR            78308
LTB_DISTRICT_CD       78308
CLIENT_GVN_NM         63490
CLIENT_LST_NM_1       78307
CLIENT_LST_NM_2         179
OCCPTN_DESC           63434
INCRPRTN_NMBR          5229
ADDRS_DESC_1          75856
ADDRS_DESC_2           1174
ADDRS_CITY            72745
ADDRS_PROV_CD         74034
ADDRS_PROV_ST         50696
ADDRS_CNTRY           75023
ADDRS_PSTL_CD         68374
TTL_STTS_CD           78308
FRM_TTL_NMBR          78308
FRM_LT_DISTRICT_CD    78308
PRCL_STTS_CD          78308
pids                  78308
dtype: int64

,TITLE_NMBR,LTB_DISTRICT_CD,CLIENT_GVN_NM,CLIENT_LST_NM_1,CLIENT_LST_NM_2,OCCPTN_DESC,INCRPRTN_NMBR,ADDRS_DESC_1,ADDRS_DESC_2,ADDRS_CITY,ADDRS_PROV_CD,ADDRS_PROV_ST,ADDRS_CNTRY,ADDRS_PSTL_CD,TTL_STTS_CD,FRM_TTL_NMBR,FRM_LT_DISTRICT_CD,PRCL_STTS_CD,pids
0,AA100060E,NW,ANN MARY,LIVESLEY,None,HOMEMAKER,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1,R,RD68051E,NW,A,3631095
1,AA100060E,NW,WILLIAM JOHN,LIVESLEY,None,PHYSICIAN,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1,R,RD68051E,NW,A,3631095
2,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,BC,None,CANADA,V3L 1C4,R,424032E,NW,A,8186430
3,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,BC,None,CANADA,V3L 1C4,R,548278E,NW,A,8186430
4,AA100145E,NW,ROY HENRY,LUMPKIN,None,CEMENT MASON,None,9169 PREST ROAD,None,CHILLIWACK,BC,None,CANADA,V2P 6H3,R,H56630E,NW,A,7791178

In [118]:
active_pin_df = active_pin_df.rename(columns={
    "TITLE_NMBR": "title_number",
    "LTB_DISTRICT_CD": "land_title_district",
    "TTL_STTS_CD": "title_status",
    "FRM_TTL_NMBR": "from_title_number",
    "FRM_LT_DISTRICT_CD": "from_land_title_district",
    "CLIENT_GVN_NM": "given_name",
    "CLIENT_LST_NM_1": "last_name_1",
    "CLIENT_LST_NM_2": "last_name_2",
    "OCCPTN_DESC": "occupation",
    "INCRPRTN_NMBR": "incorporation_number",
    "ADDRS_DESC_1": "address_line_1",
    "ADDRS_DESC_2": "address_line_2",
    "ADDRS_CITY": "city",
    "ADDRS_PROV_CD": "province_abbreviation",
    "ADDRS_PROV_ST": "province_long",
    "ADDRS_CNTRY": "country",
    "ADDRS_PSTL_CD": "postal_code",
})

In [119]:
processed_dataframe = active_pin_df
# print(processed_dataframe.loc[processed_dataframe['addrs_city'] == 'ABBOPSFORD'])

# processed_dataframe['addrs_city'] = processed_dataframe['addrs_city'].replace(dict.fromkeys(['ABBOPSFORD','ABOSTFORD','ABBOTOSFORD','ABBOTSFORED', 'ABBOTSFORD, B.C.', 'ABOTSFORD', 'ABBOTFORD', 'ABBOSTFORD'], 'ABBOTSFORD'))
print(processed_dataframe.loc[processed_dataframe['city'] == 'ABBOTSFORD'])

processed_dataframe

      title_number LTB_DISTRICT_CD_x         given_name last_name_1  \
68       AA104771E                NW     BRIAN CUTHBERT       ADAMS
69       AA104771E                NW         VELMA JEAN       ADAMS
87       AA106417E                NW              LAURA        MORE
88       AA106417E                NW    LAWRENCE GEORGE        MORE
104      AA107064E                NW            DARSHAN       MAHIL
...            ...               ...                ...         ...
81983     BB140436                NW            ROBBERT  BINNENDIJK
82055     BB141025                NW  DINIE JOKE MARIAN   BINNENDYK
82056     BB141025                NW                JAN   BINNENDYK
82076     BB141237                NW         DAN EDWARD      SEARCY
82077     BB141237                NW        DEBORAH ANN      SEARCY

      last_name_2      occupation incorporation_number  \
68           None     BUSINESSMAN                 None
69           None  BUSINESSPERSON                 None
87           None       HOMEMAKER                 None
88           None        SALESMAN                 None
104          None     BUSINESSMAN                 None
...           ...             ...                  ...
81983        None          DRIVER                 None
82055        None       HOMEMAKER                 None
82056        None          FARMER                 None
82076        None      BUS DRIVER                 None
82077        None       HOMEMAKER                 None

                 address_line_1 address_line_2        city  \
68     #5 - 33917 MARSHALL ROAD           None  ABBOTSFORD
69     #5 - 33917 MARSHALL ROAD           None  ABBOTSFORD
87           2718 SHEFFIELD WAY           None  ABBOTSFORD
88           2718 SHEFFIELD WAY           None  ABBOTSFORD
104             29983 KING ROAD           None  ABBOTSFORD
...                         ...            ...         ...
81983           29990 KING ROAD           None  ABBOTSFORD
82055         33190 HARRIS ROAD           None  ABBOTSFORD
82056         33190 HARRIS ROAD           None  ABBOTSFORD
82076       830 COLUMBIA STREET           None  ABBOTSFORD
82077       830 COLUMBIA STREET           None  ABBOTSFORD

      province_abbreviation     province_long country postal_code  \
68                       BC              None  CANADA     V2S 1L6
69                       BC              None  CANADA     V2S 1L6
87                       BC              None  CANADA     V2S 4B9
88                       BC              None  CANADA     V2S 4B9
104                      BC  BRITISH COLUMBIA  CANADA     V4X 2K7
...                     ...               ...     ...         ...
81983                    BC                BC  CANADA     V4X 2K8
82055                    BC                BC  CANADA     V4X 1W1
82056                    BC                BC  CANADA     V4X 1W1
82076                    BC  BRITISH COLUMBIA  CANADA     V2S 4O5
82077                    BC  BRITISH COLUMBIA  CANADA     V2S 4O5

      title_status from_title_number from_land_title_district PRCL_STTS_CD  \
68               R            AA501E                       NW            A
69               R            AA501E                       NW            A
87               R          Z179980E                       NW            A
88               R          Z179980E                       NW            A
104              R         AA107059E                       NW            A
...            ...               ...                      ...          ...
81983            R          BV534427                       NW            A
82055            R          BX127807                       NW            A
82056            R          BX127807                       NW            A
82076            R          AD229059                       NW            A
82077            R          AD229059                       NW            A

      LTB_DISTRICT_CD_y      pids
68                   NW   1099574
69                   NW   1099574
87                   NW   5600651
88                   NW   5600651
104                  NW   8204691
...                 ...       ...
81983                NW  12424226
82055                NW   6892809
82056                NW   6892809
82076                NW    559351
82077                NW    559351

[2190 rows x 20 columns]

,title_number,LTB_DISTRICT_CD_x,given_name,last_name_1,last_name_2,occupation,incorporation_number,address_line_1,address_line_2,city,province_abbreviation,province_long,country,postal_code,title_status,from_title_number,from_land_title_district,PRCL_STTS_CD,LTB_DISTRICT_CD_y,pids
0,AA100060E,NW,ANN MARY,LIVESLEY,None,HOMEMAKER,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1,R,RD68051E,NW,A,NW,3631095
1,AA100060E,NW,WILLIAM JOHN,LIVESLEY,None,PHYSICIAN,None,10560 BLUNDELL ROAD,None,RICHMOND,BC,None,CANADA,V6Y 1L1,R,RD68051E,NW,A,NW,3631095
2,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,BC,None,CANADA,V3L 1C4,R,424032E,NW,A,NW,8186430
3,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,BC,None,CANADA,V3L 1C4,R,548278E,NW,A,NW,8186430
4,AA100145E,NW,ROY HENRY,LUMPKIN,None,CEMENT MASON,None,9169 PREST ROAD,None,CHILLIWACK,BC,None,CANADA,V2P 6H3,R,H56630E,NW,A,NW,7791178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82082,BB141426,NW,WAVERLEY ERVIN,STEINWAND,None,PEACE OFFICER,None,4718 LONDON CRESCENT,None,DELTA,BC,BRITISH COLUMBIA,CANADA,V4K 4W8,R,BF455634,NW,A,NW,4638875
82083,BB141430,VA,SAMANTHA CHARLOTTE,SAWYER,None,VALUATION CONSULTANT,None,1825 EAST 6TH AVENUE,None,VANCOUVER,BC,BRITISH COLUMBIA,CANADA,V5N 1P4,R,BV171087,VA,A,VA,15161544
82084,BB141430,VA,TORBIN PAUL ARENDOLF,HOLST,None,SALES REPRESENTATIVE,None,1825 EAST 6TH AVENUE,None,VANCOUVER,BC,BRITISH COLUMBIA,CANADA,V5N 1P4,R,BV171087,VA,A,VA,15161544
82085,BB141434,NW,DAVID HOAK YEW,CHO,None,I.T. PROFESSIONAL,None,3080 EAST 21ST AVENUE,None,VANCOUVER,BC,BRITISH COLUMBIA,CANADA,V5M 2W7,R,BB568597,NW,A,NW,27288587
82086,BB141434,NW,SONNY HOOK SON,CHO,None,CUSTOMER SERVICE MANAGER,None,2106 WEST 36TH AVENUE,None,VANCOUVER,BC,BRITISH COLUMBIA,CANADA,V6M 1L2,R,BB568597,NW,A,NW,27288587

In [120]:
import json
import pandas as pd

In [121]:
with open('../data_rules.json', 'r') as rule_file:
    data_cleaning = json.load(rule_file)

In [122]:
# Apply cleaning rules to each column
for column, rule in data_cleaning['column_rules'].items():
    # Replace Values
    if 'replace_exact_values' in rule.keys():
        for replacement in rule['replace_exact_values']:
            processed_dataframe[column] = processed_dataframe[column].replace(rule['replace_exact_values'][replacement], replacement)
    
    # Remove Characters
    if "remove_characters" in rule.keys():
        for replacement in rule["remove_characters"]:
            active_pin_df[column] = active_pin_df[column].str.replace(replacement, '')

    # Trim after comma
    if 'trim_map' in rule.keys():
        processed_dataframe[column] = processed_dataframe[column].apply(lambda x: x.split(',')[0] if isinstance(x, str) else x)

    # To uppercase
    if 'to_uppercase' in rule.keys():
        processed_dataframe[column] = processed_dataframe[column].apply(lambda x: x.upper() if isinstance(x, str) else x)

    # Switch value from one column, from_column, to another, to_column
    if 'switch_column_value' in rule.keys():
        from_column = rule['switch_column_value']['from_column']
        to_column = rule['switch_column_value']['to_column']

        if "datatype" in rule['switch_column_value']:
            datatype = rule['switch_column_value']['datatype']
            for value in processed_dataframe[from_column]:
                if datatype == "int" and value and value.isdigit():
                    processed_dataframe[to_column] = np.where((processed_dataframe[from_column] == value), processed_dataframe[from_column], processed_dataframe[to_column])
        
        if "region_map" in rule["switch_column_value"]:
            region_map = rule["switch_column_value"]["region_map"]
            for replacement in region_map:
                processed_dataframe[column] = processed_dataframe[column].replace(region_map[replacement], replacement)

            for value in region_map.keys():
                processed_dataframe[to_column] = np.where((processed_dataframe[from_column] == value), processed_dataframe[from_column], processed_dataframe[to_column])

In [123]:
# print(processed_dataframe.loc[processed_dataframe['city'] == 'ABBOTSFORED']) 
# print(processed_dataframe.loc[processed_dataframe['city'] == 'FORT ST. JAMES'])
# print(processed_dataframe.loc[processed_dataframe['occupation'] == "327024"])
# processed_dataframe.loc[processed_dataframe['incorporation_number'] == "334487"]
# print(processed_dataframe.loc[processed_dataframe['incorporation_number'] != None])
# processed_dataframe.loc[processed_dataframe['incorporation_number'] == "327063"]
# processed_dataframe

processed_dataframe.loc[processed_dataframe['address_line_1'] == "2184 COOKE AVENUE"]

,title_number,LTB_DISTRICT_CD_x,given_name,last_name_1,last_name_2,occupation,incorporation_number,address_line_1,address_line_2,city,province_abbreviation,province_long,country,postal_code,title_status,from_title_number,from_land_title_district,PRCL_STTS_CD,LTB_DISTRICT_CD_y,pids
52144,BA521321,VA,MARGARET LORRAINE,DAMRON,None,HOMEMAKER,None,2184 COOKE AVENUE,None,COMOX,BC,BC,CANADA,V9M 1Y9,R,BV164192,VA,A,VA,13520032

In [124]:
processed_dataframe["pyap-address"] = processed_dataframe['address_line_1'].astype(str)+" "+processed_dataframe["address_line_2"].astype(str)+", "+processed_dataframe['city'].astype(str)+", "+processed_dataframe['province_abbreviation'].astype(str)+" "+processed_dataframe['province_long'].astype(str)+' '+processed_dataframe['postal_code'].astype(str)+', '+processed_dataframe['country'].astype(str)
processed_dataframe["pyap-address"] = processed_dataframe["pyap-address"].str.replace(" None", "")

In [125]:
processed_dataframe

,title_number,LTB_DISTRICT_CD_x,given_name,last_name_1,last_name_2,occupation,incorporation_number,address_line_1,address_line_2,city,...,province_long,country,postal_code,title_status,from_title_number,from_land_title_district,PRCL_STTS_CD,LTB_DISTRICT_CD_y,pids,pyap-address
0,AA100060E,NW,ANN MARY,LIVESLEY,None,HOMEMAKER,None,10560 BLUNDELL ROAD,None,RICHMOND,...,None,CANADA,V6Y 1L1,R,RD68051E,NW,A,NW,3631095,"10560 BLUNDELL ROAD, RICHMOND, BC V6Y 1L1, CANADA"
1,AA100060E,NW,WILLIAM JOHN,LIVESLEY,None,PHYSICIAN,None,10560 BLUNDELL ROAD,None,RICHMOND,...,None,CANADA,V6Y 1L1,R,RD68051E,NW,A,NW,3631095,"10560 BLUNDELL ROAD, RICHMOND, BC V6Y 1L1, CANADA"
2,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,...,None,CANADA,V3L 1C4,R,424032E,NW,A,NW,8186430,"514 CARNARVON STREET, NEW WESTMINSTER, BC V3L ..."
3,AA100103E,NW,None,THE HOLY TRINITY PARISH OF NEW WESTMINSTER B.C.,None,None,None,514 CARNARVON STREET,None,NEW WESTMINSTER,...,None,CANADA,V3L 1C4,R,548278E,NW,A,NW,8186430,"514 CARNARVON STREET, NEW WESTMINSTER, BC V3L ..."
4,AA100145E,NW,ROY HENRY,LUMPKIN,None,CEMENT MASON,None,9169 PREST ROAD,None,CHILLIWACK,...,None,CANADA,V2P 6H3,R,H56630E,NW,A,NW,7791178,"9169 PREST ROAD, CHILLIWACK, BC V2P 6H3, CANADA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82082,BB141426,NW,WAVERLEY ERVIN,STEINWAND,None,PEACE OFFICER,None,4718 LONDON CRESCENT,None,DELTA,...,BC,CANADA,V4K 4W8,R,BF455634,NW,A,NW,4638875,"4718 LONDON CRESCENT, DELTA, BC BC V4K 4W8, CA..."
82083,BB141430,VA,SAMANTHA CHARLOTTE,SAWYER,None,VALUATION CONSULTANT,None,1825 EAST 6TH AVENUE,None,VANCOUVER,...,BC,CANADA,V5N 1P4,R,BV171087,VA,A,VA,15161544,"1825 EAST 6TH AVENUE, VANCOUVER, BC BC V5N 1P4..."
82084,BB141430,VA,TORBIN PAUL ARENDOLF,HOLST,None,SALES REPRESENTATIVE,None,1825 EAST 6TH AVENUE,None,VANCOUVER,...,BC,CANADA,V5N 1P4,R,BV171087,VA,A,VA,15161544,"1825 EAST 6TH AVENUE, VANCOUVER, BC BC V5N 1P4..."
82085,BB141434,NW,DAVID HOAK YEW,CHO,None,I.T. PROFESSIONAL,None,3080 EAST 21ST AVENUE,None,VANCOUVER,...,BC,CANADA,V5M 2W7,R,BB568597,NW,A,NW,27288587,"3080 EAST 21ST AVENUE, VANCOUVER, BC BC V5M 2W..."
82086,BB141434,NW,SONNY HOOK SON,CHO,None,CUSTOMER SERVICE MANAGER,None,2106 WEST 36TH AVENUE,None,VANCOUVER,...,BC,CANADA,V6M 1L2,R,BB568597,NW,A,NW,27288587,"2106 WEST 36TH AVENUE, VANCOUVER, BC BC V6M 1L..."

In [126]:
import sys
sys.path.append('../env/lib/python3.11/site-packages/')
import pyap

In [127]:
processed_dataframe["pyap-address"] = processed_dataframe["pyap-address"].apply(lambda x: pyap.parse(x, country='CA'))

In [128]:
# processed_dataframe["street"] = processed_dataframe["pyap-address"].apply(lambda x:print(x[0]))
processed_dataframe["pyap-street"] = processed_dataframe["pyap-address"].apply(lambda x: str(x[0].street_number) + " " + str(x[0].street_name) if x else None)
processed_dataframe["pyap-city"] = processed_dataframe["pyap-address"].apply(lambda x: str(x[0].city) if x else None)
processed_dataframe["pyap-region"] = processed_dataframe["pyap-address"].apply(lambda x: str(x[0].region1) if x else None)
processed_dataframe["pyap-postal-code"] = processed_dataframe["pyap-address"].apply(lambda x: str(x[0].postal_code) if x else None)
# processed_dataframe["pyap-country"] = processed_dataframe["pyap-address"].apply(lambda x: str(x[0].country) if x else None)

In [129]:
processed_dataframe['pyap-address']
processed_dataframe["pyap-street"]
processed_dataframe["pyap-city"]

0               RICHMOND
1               RICHMOND
2        NEW WESTMINSTER
3        NEW WESTMINSTER
4             CHILLIWACK
              ...
82082              DELTA
82083          VANCOUVER
82084          VANCOUVER
82085          VANCOUVER
82086          VANCOUVER
Name: pyap-city, Length: 78321, dtype: object

In [130]:
processed_dataframe.to_csv("/Users/emendelson/Downloads/export/EMLI_UPDATE_20230824/EMLI_UPDATE_20230824/" + "pyap.csv" ,index=False)

In [131]:
for address in parser:
    print(address.as_dict())

NameError: name 'parser' is not defined

In [ ]:
import sys
sys.path.append('../env/lib/python3.11/site-packages/')
import requests
import json

# Replace with the raw URL of the JSON file you want to read
json_url = "https://raw.githubusercontent.com/bcgov/bc-emli-pin-mgmt-etl/main/data_rules.json"

try:
    response = requests.get(json_url)
    response.raise_for_status()  # Check for any errors in the request

    # Parse the JSON content into a Python dictionary
    json_data = json.loads(response.text)

    # Now, you can work with the dictionary containing JSON data
    print(json_data)

except requests.exceptions.RequestException as e:
    print(f"Error: {e}")
except json.JSONDecodeError as e:
    print(f"Error decoding JSON: {e}")

{'rule_descriptions': {'to_uppercase': 'Converts all text in the column to uppercase', 'switch_column_value': 'If column value is the provided datatype, then it is moved from the from_column to the to_column', 'remove_characters': 'Looks for column values containing listed characters and removes them, replacing them with an empty string', 'replace_exact_values': 'Looks for exact matches to listed values, and replaces with provided key', 'trim_after_comma': 'Trims all text in a column after (and including) a comma'}, 'column_rules': {'given_name': {'to_uppercase': 'to_uppercase'}, 'last_name_1': {'to_uppercase': 'to_uppercase'}, 'last_name_2': {'to_uppercase': 'to_uppercase'}, 'occupation': {'switch_column_value': {'from_column': 'occupation', 'to_column': 'incorporation_number', 'datatype': 'int'}}, 'address_line_1': {'to_uppercase': 'to_uppercase', 'remove_characters': ['.', ',', '-', '/', '#']}, 'address_line_2': {'to_uppercase': 'to_uppercase', 'remove_characters': ['.', ',', '-', '/', '#']}, 'city': {'to_uppercase': 'to_uppercase', 'replace_exact_values': {'ABBOTSFORD': ['ABBOPSFORD', 'ABOSTFORD', 'ABBOTOSFORD', 'ABBOTSFORED', 'ABOTSFORD', 'ABBOTFORD', 'ABBOSTFORD'], 'ANAHEIM LAKE': ['ANAHIM LAKE'], 'BELCARRA': ['BELCARA'], 'BURNABY': ['BURANBY', 'BURBABY', 'BURNABY 2', 'BURNABY 23', 'BURNABY 3', 'BURNBAY', 'BYURNABY', 'BYURNABY'], 'CALGARY': ['CALARY'], 'CHILLIWACK': ['CHILLIWCK', 'CHILLWACK'], 'COQUITLAM': ['COQITLAM', 'COQUILTAM', 'COQUITALAM', 'COQUITALM', 'COQUTILAM', 'COQUTLAM', 'CQOUITLAM', 'CQUITLAM'], 'EDMONTON': ['EDMONTON NW'], 'FORT ST JOHN': ['FORT STJOHN'], 'FORT ST JAMES': ['FORT STJAMES'], 'FURRY CREEK': ['FURY CREEK'], 'GRAND PRAIRIE': ['GRAND PRAIRE'], 'HALFMOON BAY': ['HALFMOOD BAY', 'HALFMOOM BAY', 'HALFMOON', 'HALF MOON BAY'], 'HINTON': ['HILTON'], 'HUDSONS HOPE': ['HUDSON HOPE'], 'HUNTINGDON': ['HUNTINGTON'], 'LANGLEY': ['LANGELY', 'LANLGEY'], 'MAPLE RIDGE': ['MAPLE RIDCGE', 'MARPLE RIDGE'], 'MISSION': ['MISSION CITY', 'MISISON'], 'NANAIMO': ['NANIAMO'], 'NEW WESTMINSTER': ['NEW WEASTMINSTER', 'NEW WESMINSTER', 'NEW WESMTMINSTER', 'NEW WESTMINISTER', 'NEW WESTMINSTER DISTRICT', 'NEW WESTMINSTSER', 'NEW WESYMINSTER', 'NEW WETMINSTER'], 'NORTH VANCOUVER': ['NORH VANCOUVER', 'NORTH  VANCOUVER', 'NORTH VANCOVER', 'NORTH VANCOVUER', 'NORTH VANOCUVER', 'NORTH VANOUVER', 'NOTH VANCOUVER'], 'PITT MEADOWS': ['PIT MEADOWS'], 'PORT COQUITLAM': ['PORT COWUITLAM', 'PORT COQUITLAM3', 'PORT COQUILTAM', 'PORT COQITLAM'], 'PORT MOODY': ['PORT MODDY'], 'PRINCE GEORGE': ['PRINCE GEROGE'], 'RICHMOND': ['CITY OF RICHMOND', 'RICHMONND'], 'SQUAMISH': ['SQUAMICH'], 'VANCOUVER': ['VAANCOUVER', 'VANC0UVER', 'VANCOUER', 'VANCOUEVR', 'VANCOUVAER', 'VANCOUVE', 'VANCOUVER V6G 3H8', 'VANCOUVER 1', 'VANCOUVER3', 'VANCOVER', 'VANCOVUER', 'VANCUVER', 'VANOCOUVER', 'VSNCOUVER', 'VNACOUVER'], 'VANDERHOOF': ['VANDERHOFF'], 'WEST VANCOUVER': ['WEST VANCOVUER'], 'WILLIAMS LAKE': ['WILLIAM LAKE']}, 'remove_characters': ['.', ',', '-', '/', '#'], 'trim_after_comma': 'trim_after_comma'}, 'province_abbreviation': {'to_uppercase': 'to_uppercase', 'replace_exact_values': {'BC': ['B.', 'BR']}}, 'province_long': {'to_uppercase': 'to_uppercase', 'replace_exact_values': {'BRITISH COLUMBIA': ['BC', 'B.C.', 'RITISH COLUMBIA'], 'CALIFORNIA': ['CA', 'CA 93065', 'CALIFONIA'], 'ONTARIO': ['ON', 'ONTAIRO'], 'OREGON': ['OREGAN'], 'UNITED STATES OF AMERICA': ['U.S.A', 'U.S.A.', 'USA', 'US']}, 'switch_column_value': {'from_column': 'province_long', 'to_column': 'province_abbreviation', 'datatype': 'str'}}, 'country': {'to_uppercase': 'to_uppercase', 'replace_exact_values': {'HONG KONG': ['HONGKONG', 'HONG KONK'], 'CHINA': ['PEOPLES REPUBLIC OF CHINA', 'REPUBLIC OF CHINA', 'R.O.C.'], 'SINGAPORE': ['SINGPORE'], 'UNITED STATES OF AMERICA': ['U.S.A', 'U.S.A.', 'USA', 'US'], 'UNITED KINGDON': ['UK', 'U.K.', 'U.K']}}, 'postal_code': {'to_uppercase': 'to_uppercase'}}}

In [145]:
input_directory = "/Users/emendelson/Downloads/export/EMLI_UPDATE_20230824/EMLI_UPDATE_20230824/"

# Read 1_title.csv
title_df = pd.read_csv(
    input_directory + "1_title.csv",
    usecols=[
        "TITLE_NMBR",
        "TTL_STTS_CD",
    ],
    dtype={
        "TITLE_NMBR": str,
        "TTL_STTS_CD": str,
    },
).applymap(lambda x: x.strip() if isinstance(x, str) else x)
print("READ FILE----------------1_title.csv")

title_df.rename(
    columns={
        "TITLE_NMBR": "title_number",
        "TTL_STTS_CD": "title_status",
    },
    inplace=True,
)

READ FILE----------------1_title.csv

/var/folders/1j/g48cs8xx3kb2bc9p_1v_0rkr0000gn/T/ipykernel_40250/4030622539.py:14: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  ).applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [150]:
expired_title_df = title_df.drop(title_df[title_df['title_status'] != "C"].index)

In [151]:
expired_title_df

Empty DataFrame
Columns: [title_number, title_status]
Index: []